body{
    background-color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#site-header{
    background-color: skyblue;
    padding: 0%;
    display: flex
    
}